<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.evotingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/voting_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VoterDeleteActivity"
            android:parentActivityName=".displayVoterActivity">
        </activity>
        <activity
            android:name=".updateVoterActivity"
            android:parentActivityName=".displayVoterActivity">
        </activity>
        <activity
            android:name=".displayVoterActivity"
            android:parentActivityName=".AdminHomeActivity" />
        <activity
            android:name=".VotecastActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".RegisterVoterActivity"
            android:parentActivityName=".AdminHomeActivity" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".ModifyCandidateActivity" />
        <activity
            android:name=".DeleteActivity"
            android:parentActivityName=".ModifyCandidateActivity" />
        <activity
            android:name=".DisplayActivity"
            android:parentActivityName=".ModifyCandidateActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity
            android:name=".ModifyCandidateActivity"
            android:parentActivityName=".AdminHomeActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".AdminHomeActivity" />
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>